@model CoreShoppingAdminPortal.Models.ProductCategory
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details of Product Category</h2>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">@Html.DisplayNameFor(Model => Model.ProductCategoryId)</th>
            <th scope="col">@Html.DisplayNameFor(Model => Model.CategoryName)</th>
            <th scope="col">@Html.DisplayNameFor(Model => Model.CategoryDescription)</th>

        </tr>
    </thead>
    <tbody>
        <tr>

            <td>
                @Html.DisplayFor(Model => Model.ProductCategoryId)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.CategoryDescription)
            </td>

        </tr>

    </tbody>


</table>

@using (Html.BeginForm("Details", "ProductCategory", FormMethod.Post))
{
    @*<input type="submit" value="Delete" class="btn btn-success" />*@

    <button class="btn btn-success" asp-controller="ProductCategory" asp-action="Index">Back</button>

}

