@model IEnumerable<CoreShoppingAdminPortal.Models.ProductCategory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@Html.ActionLink("Register Here", "Create")

<h2>Home Page</h2>
<table class="table">

    
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ProductCategoryId)</th>
                    <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
                   

                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {

                    <tr>
                        <td>@Html.DisplayFor(modelItem => category.ProductCategoryId)</td>
                        <td>@Html.DisplayFor(modelItem => category.CategoryName)</td>
                       


                        <td>

                            <a asp-controller="ProductCategory" asp-action="Details"
                               asp-route-id="@category.ProductCategoryId">Details</a>|
                            <a asp-controller="ProductCategory" asp-action="Edit"
                               asp-route-id="@category.ProductCategoryId">Edit</a>|
                            <a asp-controller="ProductCategory" asp-action="Delete"
                               asp-route-id="@category.ProductCategoryId">Delete</a>
                        </td>


                    </tr>
                }
            </tbody>
        </table>


  